In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("data.csv"))

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
answer_text = []

In [5]:
def count_marga (row):
    return row.revenue - row.budget
def count_title_len (row):
    return len(row.original_title)
def count_title_word (row):
    return len(row.original_title.split(' '))
#data['marga']=data.apply(lambda row: row.revenue - row.budget)
data['marga']=data.apply(count_marga, axis = 1)
data['title_len']=data.apply(count_title_len, axis = 1)
data['title_word']=data.apply(count_title_word, axis = 1)
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,marga,title_len,title_word
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,14,2
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,18,4
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,9,1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,28,5
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717,5,1
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012,18,3
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180,36,6
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091,10,2
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502,12,3

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
max_bud=data[data['budget']==data.budget.max()].original_title.values[0]
answer_ls.append(4)
answer_text.append(max_bud)
print(max_bud)

The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
#answer_ls.append(1)
max_long=data[data['runtime']==data.runtime.max()].original_title.values[0]
answer_ls.append(2)
answer_text.append(max_long)
print(max_long)

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [8]:

min_long=data[data['runtime']==data.runtime.min()].original_title.values[0]
display(min_long)
answer_ls.append(3)
answer_text.append(min_long)

'Winnie the Pooh'

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [9]:
#answer_ls.append(1)
mean_long=round(data.runtime.mean())
display(mean_long)
answer_ls.append(2)
answer_text.append(mean_long)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [10]:
#answer_ls.append(1)
median_long=round(data.runtime.median())
display(median_long)
answer_ls.append(1)
answer_text.append(median_long)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [11]:
#answer_ls.append(1)
max_rev=data[data['revenue']==data.revenue.max()].original_title.values[0]
display(max_rev)
answer_ls.append(5)
answer_text.append(max_rev)

'Avatar'

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [12]:
min_marga=data[data['marga']==data.marga.min()].original_title.values[0]
display(min_marga)
answer_ls.append(2)
answer_text.append(min_marga)

"The Warrior's Way"

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [13]:
count_mar=len(data[data.marga > 0])
answer_ls.append(1)
answer_text.append(count_mar)
print(count_mar)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [14]:
data_year = data[data.release_year == 2008]

max_marga=data_year[data_year['marga']==data_year.marga.max()].original_title.values[0]
display(max_marga)
answer_ls.append(4)
answer_text.append(max_marga)

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [15]:
data_year = data[(data.release_year < 2015) & (data.release_year > 2011)]

min_marga=data_year[data_year['marga']==data_year.marga.min()].original_title.values[0]
display(min_marga)
answer_ls.append(5)
answer_text.append(min_marga)

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [16]:
import collections
c=collections.Counter()
for row in data.genres:
    r=row.split('|')
    for genre in r:
        c[genre]+=1
big_gen=c.most_common(1)[0][0]#list(c.elements())[0]
print(big_gen)
answer_ls.append(3)
answer_text.append(big_gen)

Drama

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [17]:
data1=data[data['marga']>0]
import collections
c=collections.Counter()
for row in data1.genres:
    r=row.split('|')
    for genre in r:
        c[genre]+=1
big_gen=c.most_common(1)[0][0]#list(c.elements())[0]
print(big_gen)
answer_ls.append(1)
answer_text.append(big_gen)

Drama

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [18]:
reg=data.director.value_counts().index[0]
print(reg)
answer_ls.append(3)
answer_text.append(reg)

Steven Soderbergh

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [19]:
data_val=data[data.marga > 0]
reg_mar=data_val.director.value_counts().index[0]
print(reg_mar)
answer_ls.append(4)
answer_text.append(reg_mar)

Ridley Scott

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [20]:
data1=pd.concat([data['director'], data['marga']], axis=1)
reg=data1.groupby(['director']).sum().sort_values(by = 'marga', ascending=False).index[0]
display(reg)
answer_ls.append(5)
answer_text.append(reg)

'Peter Jackson'

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [21]:
import collections
import numpy as np
c=collections.Counter()
for index, row  in data.iterrows():
    r=row.cast.split('|')
    for act in r:
        c[act]+=row.marga
big_actor=c.most_common(1)[0][0]
print(big_actor)
answer_ls.append(1)
answer_text.append(big_actor)

Emma Watson

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [22]:
import collections
import numpy as np
data1=data[data.release_year==2012]
c=collections.Counter()
for index, row  in data1.iterrows():
    r=row.cast.split('|')
    for act in r:
        c[act]-=row.marga

not_big_actor=c.most_common(1)[0][0]
print(not_big_actor)
answer_ls.append(3)
answer_text.append(not_big_actor)

Kirsten Dunst

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [23]:
sr=data[data.budget>= data.budget.mean()]
import collections
c=collections.Counter()
for row in sr.cast:
    r=row.split('|')
    for act in r:
        c[act]+=1
big_act=c.most_common(1)[0][0]
display(big_act)
answer_ls.append(3)
answer_text.append(big_act)

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [24]:
data1 = data[data.cast.str.contains("Nicolas Cage")] 
import collections
c=collections.Counter()
for row in data1.genres:
    r=row.split('|')
    for genre in r:
        c[genre]+=1
gen_nic=c.most_common(1)[0][0]#list(c.elements())[0]
print(gen_nic)
answer_ls.append(2)
answer_text.append(gen_nic)

Action

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
import collections
c=collections.Counter()
for row in data.production_companies:
    r=row.split('|')
    for stud in r:
        c[stud]+=1
stud_max=c.most_common(1)[0][0]#list(c.elements())[0]
print(stud_max)
answer_ls.append(1)
answer_text.append(stud_max)

Universal Pictures

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
data1=data[data.release_year == 2015]
import collections
c=collections.Counter()
for row in data1.production_companies:
    r=row.split('|')
    for stud in r:
        c[stud]+=1
stud_max=c.most_common(1)[0][0]#list(c.elements())[0]
print(stud_max)
answer_ls.append(4)
answer_text.append(stud_max)

Warner Bros.

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [27]:
data1 = data[data.genres.str.contains("Comedy")] 
import collections
import numpy as np
c=collections.Counter()
for index, row  in data1.iterrows():
    r=row.production_companies.split('|')
    for stud in r:
        c[stud]+=row.marga

rich_stud=c.most_common(1)[0][0]
print(rich_stud)
answer_ls.append(2)
answer_text.append(rich_stud)

Universal Pictures

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [28]:
data1 = data[data.release_year==2012] 
import collections
import numpy as np
c=collections.Counter()
for index, row  in data1.iterrows():
    r=row.production_companies.split('|')
    for stud in r:
        c[stud]+=row.marga

rich_stud=c.most_common(1)[0][0]
print(rich_stud)
answer_ls.append(3)
answer_text.append(rich_stud)

Columbia Pictures

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [29]:
data1 = data[data.production_companies.str.contains("Paramount Pictures")] 
poo_film = data1.sort_values(by = 'marga').original_title.values[0]
answer_ls.append(1)
answer_text.append(poo_film)
display(poo_film)

'K-19: The Widowmaker'

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [30]:
c=collections.Counter()
for index, row  in data.iterrows():
    r=row.release_year
    c[r]+=row.marga

rich_year=c.most_common(1)[0][0]
display(rich_year)
answer_ls.append(5)
answer_text.append(rich_year)

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [31]:
data1=data[data.production_companies.str.contains('Warner Bros')]
c=collections.Counter()
for index, row  in data1.iterrows():
    r=row.release_year
    c[r]+=row.marga

rich_year=c.most_common(1)[0][0]
display(rich_year)
answer_ls.append(1)
answer_text.append(rich_year)

2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [32]:
import collections
import numpy as np
c=collections.Counter()
for index, row  in data.iterrows():
    r=row.release_date.split('/')
    c[r[0]]+=1
max_month=c.most_common(1)[0][0]
max_month=int(max_month)
month=['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']
month_t=month[max_month-1]
display(month_t)
answer_ls.append(4)
answer_text.append(month_t)

'Сентябрь'

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [33]:
summer_count=0
for index, row  in data.iterrows():
    r=row.release_date.split('/')
    r1=int(r[0])
    if ((r1 >= 6) & (r1 <=8)):
        summer_count+=1
display(summer_count)
answer_ls.append(2)
answer_text.append(summer_count)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [34]:
c=collections.Counter()
for index, row  in data.iterrows():
    r=row.release_date.split('/')
    r1=int(r[0])
    if r1 in [12,2,1]:
        rej=row.director.split('|')
        for re in rej:
            c[re]+=1
most_rej=c.most_common(1)[0][0]
display(most_rej)
answer_ls.append(5)
answer_text.append(most_rej)

'Peter Jackson'

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [35]:
years=list(data.release_year.unique())
col=collections.Counter()
for year in years:
    d=data[data.release_year == year]
    c=collections.Counter()
    for index, row  in d.iterrows():
        r=row.release_date.split('/')
        c[r[0]]+=row.marga
    col[c.most_common(1)[0][0]]+=1
mo_y=int(col.most_common(1)[0][0])
month_t=month[mo_y-1]
display(month_t)
answer_ls.append(2)
answer_text.append(month_t)

'Июнь'

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
import collections
#title_len
companies=[]

for index,row in data.iterrows():
    studs=row.production_companies.split('|')
    for stud in studs:
        if stud not in companies:
            companies.append(stud)
c=collections.Counter()
for company in companies:
    d=data[data.production_companies.str.contains(company)]
    c[company]=d.title_len.mean()
long_symb=c.most_common(1)[0][0]
print(long_symb)
answer_ls.append(5)
answer_text.append(long_symb)

C:\Users\aevdo\Anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [37]:
import collections
#title_len
companies=[]

for index,row in data.iterrows():
    studs=row.production_companies.split('|')
    for stud in studs:
        if stud not in companies:
            companies.append(stud)
c=collections.Counter()
for company in companies:
    d=data[data.production_companies.str.contains(company)]
    c[company]=d.title_word.mean()
long_word=c.most_common(1)[0][0]
print(long_word)
answer_ls.append(5)
answer_text.append(long_word)

Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [38]:
words=[]
import re
for index,row in data.iterrows():
    title_w=row.original_title.split(' ')
    #print(row)
    for title_wo in title_w:
        title_word=str.lower(title_wo)
        if ((title_word not in words) & (re.match('[a-z]*',title_word) is not None) & (title_word != '')):
            words.append(title_word)
words_count = len(words)
print(words_count)
answer_ls.append(3)
answer_text.append(words_count)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [39]:
import math

film_lists = [
    ["Inside Out", "Gone Girl", "12 Years a Slave"],
    ["BloodRayne", "The Adventures of Rocky & Bullwinkle"],
    ["The Lord of the Rings: The Return of the King", "Upside Down"],
    ["300", "Lucky Number Slevin"],
    ["Upside Down", "300", "Inside Out", "The Lord of the Rings: The Return of the King"]
]

top_1 = math.floor(len(data)/100)
data_top_1 = data.sort_values(by = 'vote_average', ascending = False).head(top_1)

result = []
for film_list in film_lists:
    answer = True
    for film in film_list:
        if len(data_top_1[data_top_1.original_title.str.contains(film)]) == 0:
            answer = False
    if (answer):
        result = film_list
top_1_films = ",".join(result)
print(top_1_films)
answer_ls.append(1)
answer_text.append(top_1_films)

Inside Out,Gone Girl,12 Years a Slave

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [40]:
import collections
import itertools
import numpy as np
c=collections.Counter()
for index, row  in data.iterrows():
    r=row.cast.split('|')
    for i in itertools.combinations(r,2):
        k=' & '.join(sorted(i))
        c[k]+=1
l=c.most_common(1)[0][0]
print(l)
answer_ls.append(5)
answer_text.append(l)

Daniel Radcliffe & Rupert Grint

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [41]:
rji=collections.Counter()
c=[]
for index, row  in data.iterrows():
    r=row.director.split('|')
    for i in r:
        if i not in c:
            c.append(i)

for rej in c:
    film=len(data[data.director.str.contains(rej)])
    mar=len(data[(data.director.str.contains(rej))&(data.marga >0)])
    rji[rej]=mar/film
most_rej = {
    'Quentin Tarantino': rji['Quentin Tarantino'],
    'Steven Soderbergh': rji['Steven Soderbergh'],
    'Robert Rodriguez': rji['Robert Rodriguez'],
    'Christopher Nolan': rji['Christopher Nolan'],
    'Clint Eastwood': rji['Clint Eastwood']
}
most_rej = sorted(most_rej)[0]
print(most_rej)
answer_ls.append(4)
answer_text.append(most_rej)

Christopher Nolan

# Submission

In [42]:
len(answer_ls)

36

In [43]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls, 'Answer text':answer_text}, columns=['Id', 'Answer', 'Answer text'])

    Id  Answer                            Answer text
0    1       4                      The Warrior's Way
1    2       2                      Gods and Generals
2    3       3                        Winnie the Pooh
3    4       2                                    110
4    5       1                                    106
5    6       5                                 Avatar
6    7       2                      The Warrior's Way
7    8       1                                   1478
8    9       4                        The Dark Knight
9   10       5                        The Lone Ranger
10  11       3                                  Drama
11  12       1                                  Drama
12  13       3                      Steven Soderbergh
13  14       4                           Ridley Scott
14  15       5                          Peter Jackson
15  16       1                            Emma Watson
16  17       3                          Kirsten Dunst
17  18       3                             Matt Damon
18  19       2                                 Action
19  20       1                     Universal Pictures
20  21       4                           Warner Bros.
21  22       2                     Universal Pictures
22  23       3                      Columbia Pictures
23  24       1                   K-19: The Widowmaker
24  25       5                                   2015
25  26       1                                   2014
26  27       4                               Сентябрь
27  28       2                                    450
28  29       5                          Peter Jackson
29  30       2                                   Июнь
30  31       5                Four By Two Productions
31  32       5                Four By Two Productions
32  33       3                                   2461
33  34       1  Inside Out,Gone Girl,12 Years a Slave
34  35       5        Daniel Radcliffe & Rupert Grint
35  36       4                      Christopher Nolan